<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Movie Crud
    </title>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

<body style="background: linear-gradient(to right bottom, #A9C9FF 0%, #FFBBEC 100%);">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-5">
                <strong>
                    // Edit Movie //
                </strong>
            </h1>
        </div>
        <div class="main row justify-content-center">
            <form action="/addMovie" method="post" class="row justify-content-center mb-4" autocomplete="off">
                <input type="text" name="editId" value="<%= singleMovie.id %>" hidden />
                <div class="col-8 mb-3">
                    <label>Movie Name :</label>
                    <input class="form-control" type="text" name="moviename" placeholder="Enter Movie Name"
                        value="<%= singleMovie.movieName %>" />
                </div>
                <div class="col-8 mb-3">
                    <label>Action :</label>
                    <input class="form-control" type="text" name="action" placeholder="Enter Movie Action"
                        value="<%= singleMovie.action %>" />
                </div>
                <div class="col-8 mb-3">
                    <label>Movie Description :</label>
                    <input class="form-control" type="text" name="description" placeholder="Enter Movie Description"
                        value="<%= singleMovie.description %>" />
                </div>
                <div class="col-8 mb-3">
                    <label>Price :</label>
                    <input class="form-control" type="number" name="price" placeholder="Enter Movie Price"
                        value="<%= singleMovie.price %>" />
                </div>
                <div class="col-8">
                    <input class="btn btn-success add-btn" type="submit" value="Update Movie" />
                </div>
            </form>
        </div>
    </div>

</body>

</html>